<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>wheather</title>
    </head>
    <body>
        {% if api_response %}
            <h1>Weather in {{ city }}</h1>
            <img src="{{ iconUrl }}" alt="My image"> 
            <ul>
                <li>Actual Temperature: <b>{{ temp }}&#8451</b></li>
                <li>Minimal Temperature: <b>{{ temp_min }}&#8451</b></li>
                <li>Maximal Temperature: <b>{{ temp_max }}&#8451</b></li>
            </ul>
        {% endif %}
    </body>
</html>

